@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

.bigScreen-navitem a.active {
    border-bottom: 2px solid #1a0d43;
}

.react-tabs__tab--selected {
    color: white !important;
    background-color: #1a0d43 !important;
}
.fdfad {
    color: #b52e2b;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Apply the animation to the rotating icon */
.rotating-icon {
    animation: rotate 2s linear infinite; /* Adjust duration or animation properties as needed */
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }
    .navbarDelete,
    .FutureDelete,
    .deleteButton,
    .deleteSection {
        display: none;
    }

    #significant-place,
    #significant-place * {
        display: block !important;
    }
}
